$color-white: #fff;
$color-main: #0e2a47;
$color-purple: #a64bf4;
$color-input: #444;
$color-shadow: #333;
$color-blue: #247f99;
$color-blue-bold: #27279b;
$color-red: red;
$color-organe: #f60;
$color-black-500: #555;
$color-black-600: #666;

$color-text-gray: #48504b;
$color-text-purple: #5550a5;
$color-text-sub: #262626;

$color-bg: #5c5ce0;
$color-bg-white: #f8f6f7;
$color-bg-card: #f6f7f8;

$color-border: #e8e8e8;